.cards {
    background-color: white;
    border-radius: 5px;
    width: 280px;
    height: 400px;
}

.card-container {
    padding: 20px;
}

.card-container h3 {
    margin-top: 0;
    font-size: 17px;
}

.card-container p {
    font-size: 14px;
}

.imageDiv {
    display: flex;
    justify-content: center;
}

.imageDiv img {
    width: 100%;
}

/* .cardPhoto {
    width: 85%;
    height: 85%;
} */